.header {
  position: fixed;
  width: 100vw;
  min-height: 80px;
  top: 0;
  -webkit-box-shadow: -3px 4px 15px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: -3px 4px 15px rgba(0, 0, 0, 0.25);
  box-shadow: -3px 4px 15px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  background-color: white;

  h1 {
    margin-left: 30px;
  }

  &__nav {
    min-width: 200px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-right: 30px;

    & a {
      font-size: 18px;
    }
  }
}
